@media screen and (min-width:1200px) {
    .container{
        width: 1128px;
    }
    .logo{
      margin-right: 72px;
    }
    .container.main-header {
        display: flex;
     
      }
    .header-contacts {
        display: flex;
margin-left: auto;
      }
      .contact-item:not(:first-child):not(:first-child){
        margin-left: 40px;
      }
      /* hero */
      .hero{
        background-color: var(--secondary-text-color);
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../img/people-office\ 1.jpg);
      
      background-position: center;
      background-repeat: no-repeat;
        padding-top: 192px;
        padding-bottom: 192px;
        background-size: 1440px 600px;
        text-align: center;
      }
      @media (min-device-pixel-ratio: 2),
  (-webkit-min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
 .hero{background-image: linear-gradient(
  rgba(46, 47, 66, 0.7),
  rgba(46, 47, 66, 0.7)
),
url(../img/bg-desktop-2x.jpg);}
  }
      /* section */
      .logo-icon {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 112px;
        width: 264px;
        border-radius: 4px;
        margin-bottom: 8px;
        background-color: #f4f4fd;
      }
      .section {
        padding-top: 120px;
        padding-bottom: 120px;
      }
      .container.nopadding{
        padding:0;
      }
      .section-list {
        margin: 0;
        margin-bottom: 0;
        padding: 0;
        display: flex;
        flex-wrap: wrap;
      
        column-gap: 24px;
      }
      .section-item{
        margin: 0;
        
        width: calc((100% - 72px)/4);
        max-width: 264px;
      }
      .team-list {
        padding: 0;
        margin: 0;
        display: flex;
        flex-wrap: nowrap;
      justify-content: center;
      column-gap: 24px;
      row-gap: 64px;
      }
      .section-post-title,
.team-post-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--secondary-text-color);
}
.section-post-title{
    text-align: left;
}
.section-text,
.team-text {
    font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
}
/* work secction */
 .work-section {
  padding-bottom: 120px;
  display: block;
}

.work-list {
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
}
.work-item:not(:first-child) {
    margin-left: 24px;
  }
  .work-title,
  .team-title {
    margin-top: 0;
    margin-bottom: 72px;
  }
  
  .work-title,
  .team-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--secondary-text-color);
  }
  /* customers */
  .customers {
    padding-top: 120px;
    padding-bottom: 120px;
  }
  .customers-list {
    display: flex;
    flex-wrap: nowrap;
  gap: 24px;
    margin: 0;
  }
  .customers-link {
    width: 168px;
    height: 88px;
    border: 1px solid #8e8f99;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    fill: #8e8f99;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  /* footer */
  .footer {
    display: flex;
    padding-top: 100px;
    padding-bottom: 100px;
    background: var(--secondary-text-color);
  }
  .footer-position {
    display: flex;
    flex-wrap: nowrap;
    padding: 0px;
  }
  .footer-social{
    margin-left: 120px;
    margin-right: 80px;
  
  }
  .footer-social-name{
    text-align: left;
  }
  .subscribe-form{
    margin:0px;
  }
  .filing{
    margin-right: 0px;
    text-align: left;
  }
  .subscribe-button {
 
    height: 40px;
 
  }
  .subscribe-input {
   
    margin-right: 24px;
  margin-bottom: 0px;
  }
  /* portfoglio */
  .portfolio-list {
    padding-top: 96px;
    padding-bottom: 120px;
    
    }
  .button-list {
    padding: 0;
    margin: 0;
    margin-bottom: 72px;
    display: flex;
    text-align: center;
    flex-wrap: nowrap;
    justify-content:center;
    
    column-gap: 24px;
    }
    .example-list {
        display: flex;
        flex-wrap: wrap;
        padding: 0;
        gap: 24px;
        
        row-gap: 72px;
      }
      .example-item {
          margin: 0px;
          width: calc((100% - 48px)/3);
          border: 0.5px solid #e7e9fc;
    
      } 
    }